.teacherItemBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;

  border-radius: 24px;
  background: var(--white);
  width: 100%;

  padding: 12px;
  gap: 24px;

  @media screen and (min-width: 752px) {
    flex-wrap: nowrap;
    padding: 18px;
    gap: 36px;
  }

  @media screen and (min-width: 1440px) {
    width: 1184px;
    padding: 24px;
    gap: 48px;
  }
}

.addFavoriteBtn {
  position: absolute;
  top: 24px;
  right: 24px;

  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.addFavoriteBtn:hover,
.addFavoriteBtn:focus {
  transform: scale(1.2);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.avatarBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 3px solid var(--latte-bg);
  background: var(--white);
}

.avatarImg {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
}

.teacherItemBox h2 {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.greyTitle {
  color: #8a8a89;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.bleackTitle {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.greenText {
  color: #38cd3e;
}

.teacherDiscrHead {
  display: flex;

  flex-wrap: wrap;

  margin-bottom: 32px;
  gap: 28px;

  @media screen and (min-width: 1440px) {
    width: 968px;
    justify-content: space-between;
  }
}

.teacherDiscrHeadList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  padding-right: 60px;
}

.teacherDiscrHeadItem {
  position: relative;
}

.teacherDiscrHeadItem::after {
  position: absolute;
  width: 0;
  height: 16px;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);

  border: 1px solid rgba(18, 20, 23, 0.2);

  display: inline-block;
  content: "";
}

.teacherOpenDiscr {
  width: 100%;
  margin-bottom: 32px;

  color: var(--main-black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.fitbackList {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 32px;
}

.fitbackItem {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.fitbackUser {
  display: flex;
  gap: 12px;
}

.fidbackAvatar {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: #38cd3e;
}

.fidbackAuthor {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;
}

.fitbackStars {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.ReadMoreBtn {
  border: none;
  background-color: inherit;
  text-decoration-line: underline;

  margin-bottom: 32px;

  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.ReadMoreBtn:hover,
.ReadMoreBtn:focus {
  transform: scale(1.2);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.levelsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 32px;
}

.levelsItem {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;

  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.2);

  color: var(--main-black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
}

.heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
