.logoBox {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.logoBox:hover,
.logoBox:focus {
  transform: scale(1.2);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.logoText {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
