.teachersPageBox {
  padding: 0 64px;
}

.teachersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1312px;

  padding: 0 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 600px) {
    padding: 0 64px;
  }
}
